@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
  }
  

/*<----- Header-----> */
    a{
    color: white;
    text-decoration: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    width:100%;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }


/* <-----SignUp Page-----> */
.signup{
    height: 100vh;
    width: 100%;
}
.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
#signup-form{
    margin-top: 8rem;
    width:90%;
}
.signup-msg{
  color:red;
}
input{
    width: 100%;
    height: 2rem;
    font-size: 1.1rem;
    padding: 1.2rem 1.5rem;
    margin: 0.8rem 0;
}
.btn{
    background-color: black;
    color: white;
    padding:0.5rem 3rem;
    margin:0 2rem 0 0;
    cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}